<%= page_title('Profile') %>
<% form_tag :action => 'update', :id => @user do %>
<%= error_messages_for 'user' %>
<table class="form">
  <tr>
    <td>First Name:</td>
    <td><%= text_field 'user', 'first_name',{:class=>"input", :style=>"width:200px"}  %></td>
  </tr>
  <tr>
    <td>Last Name:</td>
    <td><%= text_field 'user', 'last_name',{:class=>"input", :style=>"width:200px"}  %></td>
  </tr>
  <tr>
    <td>Username:</td>
    <td><%= text_field 'user', 'login',{:class=>"input", :style=>"width:200px"}  %></td>
  </tr>
  <tr>
    <td>Password:</td>
    <td><%= password_field 'user', 'password',{:class=>"input", :style=>"width:200px", :value => (params[:user] and not params[:user][:password].empty?) ? @user.password : ''}  %></td>
  </tr>  
  <tr>
    <td>Confirm:</td>
    <td><%= password_field 'user', 'password_confirmation',{:class=>"input", :style=>"width:200px"}  %></td>
  </tr>  
  <tr>
    <td>Email:</td>
    <td><%= text_field 'user', 'email',{:class=>"input", :style=>"width:200px"}  %></td>
  </tr>  
  <tr>
    <td>&nbsp;</td>
    <td align="right"><%= submit_tag 'Save',{:class=>"buttons"} %> </td>
  </tr>      
</table>
<% end %>

